@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/******************************************************************************
/***** header */

.header {
	z-index: 5;
	background-color: deepskyblue;
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100%;
}

.title {
	user-select: none;
	pointer-events: none;
	font-size: 2em;
	margin: 0;
	padding-top: 5px;
	width: auto;
	height: auto;
}

/******************************************************************************
/***** Login/Logout */

.login-button-container {
	text-align: center;
	padding-top: 100px;
}

.login-button {
	width: 300px;
}

/******************************************************************************
/***** icons */

.social-bar {
	background-color: black;
	//border: 3px solid deepskyblue;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	width: auto;
	transition: all 0.2s ease;
}

.img-title {
	width: 100%;
	padding: 5px;
	background-color: gray;
	color: white;
	opacity: 1;
	transition: all 0.2s ease;
}

.icon {
	user-select: none;
	cursor: pointer;
	text-shadow: 0 0 10px white;
	z-index: 1;
	font-size: 6em;
	margin: 10px;
	transition: all 0.2s ease;
}

.heart {
	user-select: none;
	margin-right: 10px;
	color: deepskyblue;
	opacity: 0.5;
	&.focus {
		opacity: 1;
	}
	&:hover {
		opacity: 1;
	}
}

.share {
	color: deepskyblue;
	opacity: 0.5;
	&.focus {
		opacity: 1;
	}
	&:hover {
		opacity: 1;
	}
}

.liked {
	opacity: 1;
}

.shared {
	opacity: 1;
}

.trash {
	margin-left: 10px;
	color: deepskyblue;
	&:hover {
		color: red;
	}
}

.link {
	color: deepskyblue;
	text-decoration: none;
}

/******************************************************************************
/***** Masonry */

.grid {

}

.grid-item {
	transition: width 0.2s ease;
}

.grid-item-width-1 {
	width: 33.333333%;
}

.grid-item-width-2 {
	width: 100%;
}

.pin {
	position: relative;
	width: 100%;
}

.user-icon {
	width: 50px;
	height: 50px;
}

/******************************************************************************
/***** message */

.message-container {
	pointer-events: none;
	position: fixed;
	width: 100%;
	top: -100px;
	left: 0px;
	z-index: 10001;
	transition: all 0.3s ease;
}

.show-container {
	top: 20px;
}

.message {
	color: black;
	display: block;
	text-align: center;
	position: relative;
	margin: auto;
	max-width: 600px;
	padding: 10px 0;
	border-radius: 10px;
	opacity: 0;
	transition: all 0.3s ease;
}

.show {
	opacity: 1;
	background-color: white;
	border: 2px solid springgreen;
}

.error {
	background-color: white;
	border: 2px solid red;
}

/******************************************************************************
/***** hamburger menu */

/* Position and sizing of burger button */
.bm-burger-button {
	z-index: 6 !important;
	padding: 5px;
	position: fixed;
	width: 36px;
	height: 30px;
	left: 20px;
	top: 30px;
	transition: all 0.2s ease;
	&:hover {
		background-color: gray;
	}
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: white;
	z-index: 6 !important;
}


/* General sidebar styles */
.bm-menu {
	overflow-y: hidden !important;
	background: gray;
	padding: 2.0em 1.5em 0;
	font-size: 1.15em;
	z-index: 6;
}

/* Wrapper for item list */
.bm-item-list {
	height: 100px;
	color: #b8b7ad;
	padding: 0.8em;
	z-index: 6 !important;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}

.menu-item {
	font-size: 30px;
	margin-bottom: 30px;
	text-align: center;
	color: white;
	text-decoration: none;
	&:hover {
		color: lightskyblue;
	}
}

/******************************************************************************
/***** userview */

.userview {

}

.pin-button {
	font-family: 'Press Start 2P', cursive;
	display: block;
	background-color: orange;
	color: white;
	border: none;
	border-radius: 30px;
	padding: 20px;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	&:hover {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
	&:focus {
		outline: none;
	}
	&:active {
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}
}

.new-pin-button {
	margin: 0 auto 10px auto;
}

.save-pin-button {
	margin: 0 auto 10px auto;
}

.pins-username-title {
	border-bottom: 10px solid deepskyblue;
	background-color: orange;
	color: white;
	padding: 5px 0;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-family: 'Press Start 2P', cursive;
}

.pins-title {
	background-color: orange;
	color: white;
	padding: 5px 0;
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-family: 'Press Start 2P', cursive;
}

/******************************************************************************
/***** modal window */

.modal-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.modal-main-title {
	background-color: orange;
	display: flex;
	align-items: center;
	height: auto;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modal-main-title-text {
	text-align: center;
	align-items: center;
	flex: 1;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	color: white;
	font-size: 20px;
	height: auto;
}

.modal-close {
	border-radius: 50px;
	align-self: right;
	border: none;
	text-align: center;
	padding: 20px 10px 15px 10px;
	font-family: 'Press Start 2P', cursive;
	background-color: orange;
	color: white;
	font-size: 20px;
	transition: all 0.2s ease;
	&:hover {
		color: red;
	}
	&:focus {
		outline: none;
	}
	&:active {
		color: white;
	}
}

.modal-row {
	display: flex;
	margin-top: 10px;
}

.modal-title {
	text-align: center;
	min-width: 20%;
	padding: 10px;
	color: white;
	font-size: 15px;
	background-color: deepskyblue;
	font-family: 'Press Start 2P', cursive;
	margin-right: 10px;
}

.modal-input {
	font-family: 'Press Start 2P', cursive;
	padding-left: 5px;
	overflow: hidden;
	flex: 1;
	border: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:focus {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
	&:hover {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
}

.modal-image-container {
	flex: 1;
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.main-modal-image {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

/******************************************************************************
/***** mobile */

@media only screen and (max-width: 700px) {
	body {
		padding: 70px 0 0 0;
	}
	.modal-main-title-text {
		//font-size: 14px;
	}
	.bm-menu-wrap {
		width: 100% !important;
	}
	.bm-menu {
		width: 100%;
	}
	.bm-burger-button {
		top: 17px;
	}
	.header {
		height: 70px;
	}
	.bm-item-list {
		height: 70px;
	}
	.menu-item {
		font-size: 20px;
	}
	.title {
		font-size: 1.4em;
	}
	.bm-burger-button {
		left: 10px;
	}
	.img-title {
		font-size: 0.6em;
	}
	.icon {
		font-size: 2em;
	}
	.grid-item-width-1 {
		width: 50%;
	}
	.grid-item-width-2 {
		width: 100%;
	}
}

/******************************************************************************
/***** wide screen */

@media only screen and (min-width: 700px) {
	.icon {
		font-size: 3em;
	}
	.grid-item-width-1 {
		width: 25%;
	}
	.grid-item-width-2 {
		width: 100%;
	}
}

/******************************************************************************
/***** wide screen */

@media only screen and (min-width: 1200px) {
	.icon {
		font-size: 4em;
	}
	.grid-item-width-1 {
		width: 25%;
	}
	.grid-item-width-2 {
		width: 100%;
	}
}

/******************************************************************************
/***** wide screen */

@media only screen and (min-width: 1700px) {
	.icon {
		font-size: 5em;
	}
	.grid-item-width-1 {
		width: 20%;
	}
	.grid-item-width-2 {
		width: 100%;
	}
}
